@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;

h1, h2, h3, h4, p{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto Slab', serif;
}

.wrap{
  max-width: 1170px;
  margin: 0 auto;
}

.page-main{
  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-color;
  padding-bottom: 180px;
}

.page{
  padding-top: 161px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 166px;

  &__logo{
    display: block;
    width: 137px;
    height: 28px;
    background-image: url("../img/logo.svg");
  }

  &-list{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;

    &__item{
      margin-left: 22px;
      padding-bottom: 5px;
      transition: 0.3s;
    }

      &__item::after{
      display: block;
      content: "";
      margin-left: 50%;
      margin-top: 5px;
      height: 3px;
      width: 0%;
      background-color: $accent-color;
      transition: 0.4s ease-in-out;
      }

      &__item:hover::after {
        margin-left: 0;
        width: 100%;
      }


    &__link{
       color: $light-color;
       text-decoration: none;
       letter-spacing: 0.5px;
    }
  }
}

.block-text{
  flex-basis: calc(100% - 500px);

  &__name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
    width: 80%;
  }

  &__name-top{
    margin-top: 16px;
    margin-left: 0;
  }

  &__title{
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.8px;
    width: 80%;
    margin-bottom: 40px;

    span {
      display: block;
      color: $accent-color;
      font-size: 18px;
      margin-top: 9px;
      letter-spacing: 0.9px;
    }
  }

  &__description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 80%;
    line-height: 24px;
    margin-bottom: 24px;
    letter-spacing: 0.7px;
  }

  &__btn{
    display: block;
    background-color: $accent-color;
    color: $light-color;
    text-decoration: none;
    max-width: 250px;
    border-radius: 3px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 19px;
    padding: 14px 0;
    letter-spacing: 0.7px;
  }

  small{
    font-family: 'OpenSans-Italic', sans-serif;
  }
}

.block-book{
  display: flex;
  justify-content: space-between;

  &-demo{
    display: block;
    background-repeat: no-repeat;
    width: 447px;
    height: 643px;
    background-image: url("../img/book.svg");
    flex-basis: 445px;
  }
}

.block-author{
  display: flex;
  justify-content: space-between;
}

.block-ava{
  position: relative;

  &__svg{
    position: absolute;
    z-index: -1;
    right: 0;
  }

  &__img{
     margin-top: 47px;
     margin-right: 44px;
  }
}

.block-counter{
  display: flex;
  justify-content: space-around;

  p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    span{
      font-family: 'Roboto Slab', serif;
      display: block;
      font-weight: 100;
      font-size: 80px;
      margin-bottom: 12px;
      color: $accent-color;
    }
  }
}
